# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata

# Misc
*.swp

# CI generates this at release time
ExportOptions.plist
